<template>
  <div class="the-category">
    <the-category></the-category>
  </div>
</template>
<script>
import TheCategory from '@/components/TheCategory.vue'

export default {
  name: 'Cetegory',
  components: {
    TheCategory,
  }
}
</script>
<style scoped lang="scss">
</style>
