<template>
  <div class="the-contact">
    <the-contact></the-contact>
  </div>
</template>
<script>
import TheContact from '@/components/TheContact.vue'

export default {
  name: 'Contact',
  components: {
    TheContact,
  }
}
</script>
<style scoped lang="scss">
</style>
