<template>
    <div>
        <ProductDetail :detailData="detailData" @update:product="getDetail" ></ProductDetail>
        <!-- <the-header></the-header> -->
    </div>
  </template>
<script>
import TheHeader from '@/components/TheHeader.vue'
import ProductDetail from '@/components/ProductDetail.vue'
import { getDetailProduct } from '@/services/product/product.service';

export default {
  name: 'DetailProduct',
  components: {
    ProductDetail
  },
  data() {
    return {
      detailData: {}
    }
  },
  mounted() {
    this.getDetail()
  },
  methods: {
    getDetail() {
      getDetailProduct(this.$route.params.id)
      .then(response => {
        if (response) {
          this.detailData = response
        }
      }) 
    }
  }
}
</script>
  
  <style scoped lang="scss">
  </style>
  