<template>
  <div class="home">
    <the-header></the-header>
    <seragam-sekolah></seragam-sekolah>
    <other-product></other-product>
  </div>
</template>
<script>
import TheHeader from '@/components/TheHeader.vue'
import SeragamSekolah from '@/components/SeragamSekolah.vue'
import BestSeller from '@/components/BestSeller.vue'
import OtherProduct from '@/components/OtherProduct.vue'

export default {
  name: 'Home',
  components: {
    TheHeader,
    SeragamSekolah,
    BestSeller,
    OtherProduct,
  }
}
</script>
<style scoped lang="scss">
</style>
