<template>
    <section class="container-fluid py-5">
        <img src="@/assets/img/icon/ecooper-logo.png" alt="Instagram" width="80">
        <h1>Pembeli - register</h1>
        <form class="mx-auto p-2 text-start formRegister" @submit.prevent="register">
            <div class="mb-3">
                <label for="idPembeli" class="form-label">ID Pengguna</label>
                <input type="text" v-model="id" class="form-control bg-dark text-light inputId" id="idPembeli" name="id" placeholder="Buat Id Pengguna anda">
            </div>
            <div class="mb-3">
                <label for="namePembeli" class="form-label">Nama Lengkap</label>
                <input type="text" v-model="name" class="form-control bg-dark text-light" id="namaPembeli" name="name">
            </div>
            <div class="mb-3 type">
                <label for="type" class="form-label">Type</label>
                <input type="text" v-model="type" class="form-control bg-dark text-light" id="type"  name="type" readonly>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" v-model="password" class="form-control bg-dark text-light" id="password"  name="password">
            </div>
            <!-- ? FOTO -->
            <div class="mb-3">
                <label for="fotoPembeli" class="form-label">Foto Anda</label>
                <input type="file" class="form-control bg-dark text-light" id="fotoPembeli" name="foto" @change="fotoUpdated($event.target.files)">
            </div>
            <div class="mb-3">
                <label for="telpon" class="form-label">No. Telepon</label>
                <input type="number" v-model="telpon" class="form-control bg-dark text-light" id="telpon" name="telpon">
            </div>
            <div class="mb-3">
                <label for="nis" class="form-label">NIS</label>
                <input type="number" v-model="nis" class="form-control bg-dark text-light" id="nis" name="nis">
            </div>
            <div class="mb-3">
                <label for="tanggal-lahir" class="form-label">Tanggal Lahir</label>
                <input type="date" v-model="tanggalLahir" class="form-control bg-dark text-light" id="tanggal-lahir" name="tanggal-lahir">
            </div>
            <div class="mb-3">
                <label for="kelas" class="form-label">Kelas</label>
                <input type="text" v-model="kelas" class="form-control bg-dark text-light" id="kelas" name="kelas">
            </div>
            <button @click="cancelRegister" class="btn btn-secondary">Batal Register</button>
            <button type="submit" class="btn btn-warning ms-2">Register</button>
            <p>
                Sudah punya akun? <router-link to="/pembeli-login">Login</router-link>. <br>
                <span class="text-secondary">Copyright © 2023 ECOOPER. All Right Reserved. | Created by ECOOPER Team. </span>
            </p>
        </form>
    </section>
</template>
<script>
import { signup } from '@/services/register/register.service'

export default {
    data() {
        return {
            id:null,
            name:null,
            type:'user',
            password: null,
            foto: undefined,
            telpon: null,
            nis: null,
            tanggalLahir: null,
            kelas: null,
        }
    },
    methods: {
        register() {
            let formData = new FormData();
            formData.append('id', this.id);
            formData.append('name', this.name);
            formData.append('type', this.type);
            formData.append('password', this.password);
            formData.append('foto', this.foto);
            formData.append('telpon', this.telpon);
            formData.append('nis', this.nis);
            formData.append('tanggalLahir', this.tanggalLahir);
            formData.append('kelas', this.kelas);

            signup(formData)
                .then((response) => {  
                    console.log('button di click')
                    if (response.status === "success") {
                        console.log(response)
                        this.$router.push({ name: 'pembeli-login' })
                        // Consider using a modal or another method to display success message
                        window.alert('Register berhasil! Silahkan login!')
                    } else {
                        // Consider using a modal or another method to display error message
                        window.alert('Register Gagal!')
                    }
                }).catch((error)=>{
                    console.log('Error')
                })
        },

        cancelRegister() {
            this.$router.push('/');
            // Consider using a modal or another method to display a message
            window.alert('You are Guest!')
        },
        fotoUpdated(file) {
            this.foto = file[0];
        },
    },
}
</script>
<style scoped lang="scss">

.type input {
    cursor: not-allowed;
}
.formRegister {
    width: 50%;
}

.formRegister p {
    padding-top: 30px;
    text-align: center;
}

@media(max-width:500px) {
    .formRegister {
        width: 80%;
    }
}
</style>