<template>
    <div class="product">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-12 col-md-9 order-2 order-md-1">
                    <showing-of-result></showing-of-result>
                    <div class="py-3">
                        <product-item :product="dataProduct" :isLoading="isGetProduct"></product-item>
                    </div>
                </div>
                <div class="col-12 col-md-3 order-1 order-md-2">
                    <sidebar-category :category="dataCategory" :category-active="category"
                        @update:category="handleUpdateCategory"></sidebar-category>
                </div>
            </div>
        </div>
    </div>
</template>
  
<script>
import { getProduct, getProductByCategory } from '@/services/product/product.service'
import { getCategory } from '@/services/category/category.service'

import SidebarCategory from '@/components/SidebarCategory.vue'
import ShowingOfResult from '@/components/ShowingOfResult.vue';
import ProductItem from '@/components/ProductItem.vue';
import $ from 'jquery';

export default {
    name: 'Product',
    components: {
        SidebarCategory,
        ShowingOfResult,
        ProductItem,
    },
    data() {
        return {
            category: 'all',
            dataProduct: [],
            dataCategory: [],
            isGetProduct: false,
        }
    },
    mounted() {
        this.getCategory()
        if (this.$route.query.category) {
            this.category = this.$route.query.category
            if(this.category != 'all') {
                this.getDataByCategory()
            } else {
                this.getData()
            }
        }
    },
    methods: {
        handleUpdateCategory(newCategory) {
            this.category = newCategory
            if (this.$route.query.category != newCategory) {
                this.$router.push({ name: 'products', query: { category: newCategory } })
                if(newCategory != 'all') {
                    this.getDataByCategory()
                } else {
                    this.getData()
                }
                $('.accordion-button--mobile').addClass('collapsed');
                $('.collapse').removeClass('show');
            }
        },
        getData() {
            this.isGetProduct = true;
            getProduct()
            .then((response) => {
                if(response) {
                    this.dataProduct = response
                }
                this.isGetProduct = false;
            })
        },
        getDataByCategory() {
            this.isGetProduct = true;
            getProductByCategory(this.category)
            .then((response) => {
                if(response) {
                    this.dataProduct = response
                }
                this.isGetProduct = false;
            })
        },
        getCategory() {
            getCategory()
            .then((response) => {
                if(response) {
                    this.dataCategory = response
                    if (this.dataCategory.response == undefined) 
                        return;

                    this.dataCategory.push({
                        id: 'all',
                        namaCategory: 'Semua Kategori'
                    })
                }
            })
        },
    }
}
</script>
    
<style scoped lang="scss">
.row {
    height: fit-content;
}
</style>
    