<template>
  <div class="profile">
    <div class="cover-profile">
      <div class="photo-profile">
        <button v-if="isEditMode" class="btn-edit-img"><img src="@/assets/pencil-edit-button-svgrepo-com.svg" alt=""></button>
        <img class="prof" :src="'data:image/jpg;base64,' + foto" alt="Photo Profile">
      </div>
      <h2 class="name">{{ name }}</h2>
      <p v-if="type == 'user'" class="nis">18095772906</p>
      <!-- <button type="submit" class="btn btn-danger ms-2">Log Out</button> -->
    </div>
    <div class="data-profile">
      <div class="data-profile-header">
        <h4 class="title-edit">{{ isEditMode ? 'Edit Profile' : 'Profile' }}</h4>
      </div>
      
      <form class="p-2 text-start formEditProfile" @submit.prevent="register">
        <div class="mb-3">
          <label for="idPembeli" class="form-label">ID Pengguna</label>
          <input type="text" v-model="id" class="form-control bg-dark text-light inputId" name="id" readonly>
        </div>
        <div class="mb-3">
          <label for="namePembeli" class="form-label">Nama Lengkap</label>
          <input type="text" v-model="name" class="form-control bg-dark text-light" name="name" :readonly="!isEditMode">
        </div>
        <div v-if="type == 'user'" class="mb-3">
          <label for="notelpPembeli" class="form-label">No. Telepon</label>
          <input type="number" v-model="telpon" class="form-control bg-dark text-light" name="notelp" :readonly="!isEditMode">
        </div>
        <div  v-if="type == 'user'" class="mb-3">
          <label for="nis" class="form-label">NIS</label>
          <input type="number" v-model="nis" class="form-control bg-dark text-light" name="nis" :readonly="!isEditMode">
        </div>
        <div  v-if="type == 'user'" class="mb-3">
          <label for="kelasPembeli" class="form-label">Kelas</label>
          <input type="text" v-model="kelas" class="form-control bg-dark text-light" name="kelas" :readonly="!isEditMode">
        </div>
        <div  v-if="type == 'user'" class="mb-3">
          <label for="tgllahirPembeli" class="form-label">Tanggal Lahir</label>
          <input type="date" v-model="tanggalLahir" class="form-control bg-dark text-light" name="tgllahir" :readonly="!isEditMode">
        </div>
        <div v-if="isEditMode" class="mb-3">
          <label for="password" class="form-label">Password <i>(Min 8 Characters)</i></label>
          <input type="password" v-model="password" class="form-control bg-dark text-light" name="password">
        </div>

        <div>
          <button v-if="!isEditMode" @click="enterEditMode" class="btn btn-info">Edit</button>
          <button v-if="isEditMode" @click="exitEditMode" class="btn btn-secondary">Batal Edit</button>
          <button v-if="isEditMode" @click="" type="submit" class="btn btn-warning ms-2">Update Profile</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { getProfileDetail } from '@/services/profile/profile.service'

export default {
  data() {
    return {
      type: '',
      id: '',
      name: '',
      foto: '',
      telpon: '',
      nis: '',
      tanggalLahir: '',
      kelas: '',
      isEditMode: false
    };
  },
  methods: {
    getProfileDetail() {
      getProfileDetail()
        .then(response => {
          const data = response.data;
          this.type = data.type;
          this.id = data.id;
          this.name = data.name;
          this.foto = data.foto;

          if (data.type == 'user') {
            this.telpon = data.telpon;
            this.nis = data.nis;
            this.kelas = data.kelas;
            
            let tanggalLahir = new Date(data.tanggalLahir)
            this.tanggalLahir = `${tanggalLahir.getFullYear()}-${(tanggalLahir.getMonth() + 1).toString().padStart(2, 0)}-${tanggalLahir.getDate().toString().padStart(2, 0)}`;
          }

          console.log(this.tanggalLahir);
          
          console.log('ini datanya', data)
        })
        .catch(error => {
          window.alert('Sayang sekali.. Gagal mendapatkan info akun. Kenapa?, ' + error)
        })
    },
    updateProfile() {

    },
    enterEditMode() {
      this.isEditMode = true;
    },
    exitEditMode() {
      this.isEditMode = false;
    }
  },
  created() {
    this.getProfileDetail();
  }
};
</script>

<style scoped lang="scss">
.profile {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 50px;
  box-sizing: border-box;
  column-gap: 50px;
}

.title-edit {
  margin-bottom: 30px;
  text-align: left;
  padding: 8px;
}

.type {
  display: none;
}

.data-profile {
  margin-right: 50px;
  padding: 20px 20px 20px 20px;
  background-color: #212121;
  border-radius: 10px;
}

.data-profile-header {
  display: flex;
  justify-content: space-between;
}

.cover-profile {
  height: fit-content;
  padding: 5px 20px 20px 20px;
  background-color: #212121;
  border-radius: 10px;
}

.photo-profile {
  margin: 20px;
  min-height: 272px;
  align-items: center;
  justify-items: center;
  position: relative;
}

.photo-profile .prof {
  background: whitesmoke;
}

.photo-profile img {
  width: 272px;
  height: 272px;
  border-radius: 100%;
  object-fit: cover;
}

.btn-edit-img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 0;
  border-radius: 100%;
  background-color: #9FA6B2;
  border: none;
}

.btn-edit-img img {
  width: 30px;
  height: 15px;
}

.formEditProfile {
  box-sizing: border-box;
  width: 100%;
}

.formEditProfile p {
  padding-top: 30px;
  text-align: center;
}
</style>
