<template>
    <section>
        <the-header>
            <p>
                <span>-----------</span> 
                Semua yang paling banyak dibutuhkan
                <span>-----------</span> 
            </p>
            <div class="title">BEST SELLER</div>
        </the-header>

        <section id="bestseller-section">
            <div class="grid-container" >
                <div class="item" v-for="(data, index) in product" :key="index">
                    <img v-if="data?.foto" :src="'http://192.168.0.17:8085/' +  data?.foto" id="productImg">
                    <img v-else src="@/assets/ecooper-logo.png" id="productImg">
                    <div class="title">{{ data.namaProduct }}</div>
                    <div class="price">{{ formatToRupiah(data.hargaJual) }}</div>
                </div>
            </div>
        </section>
        
        <router-link to="/product?category=all">
            <button>See all</button>
        </router-link>
    </section>
</template>

<script>
  import { getProduct } from '@/services/product/product.service'
  
  export default {
    props: {
      product: {
        type: Array,
        default: () => {
          return []
        }
      },
    },
    methods: {
        formatToRupiah(number) {
            // Mengubah angka menjadi format mata uang Rupiah
            const rupiah = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            return `RP ${rupiah}`;
        },
        getProduct() {
            getProduct().then((response) => {
            if (response) {
                this.product = response;
            }
            });
        },
    },
    created() {
      this.getProduct();
    },
  }
</script>

<style scoped lang="scss">
#linkBest {
    text-decoration: none;
}
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 52.1px 0px;
}

section button {
    background: #FFB100;
    border: 0px;
    border-radius: 5px;
    width: 150px;
    height: 55px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-end;
    position: relative;
    transition: 0.125s;
}

section button:hover {
    scale: 1.1;
}

section the-header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    background: #000;
    height: 157px;
    padding: 50px 0px 50px 0px;
}

section the-header .title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

section the-header p {
   font-size: 22px;   
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 24.16px;
}

section #bestseller-section {
    width: 100%;
    position: relative;
    background: #000;
    margin: 0px 80.04px 0px 80.04px;
}

section #bestseller-section .grid-container {
    width: 100%; 
    background: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 23.48px;
    align-items: baseline;
}

section #bestseller-section .grid-container > div {
    background-attachment: fixed;
    border-radius: 5px;
}

section #bestseller-section .grid-container > div:hover {
   
    filter: brightness(1.1);
}

section #bestseller-section .grid-container .item {
    padding: 7.75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20.68px;
}

section #bestseller-section .grid-container .item #productImg {
    padding: 33px;
    background: #151515;
    width: 220px;
    height: 220px;
}

section #bestseller-section .grid-container .item .title {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

section #bestseller-section .grid-container .item .price {
    color: #FFB100;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 1030px) {
    section the-header {
        width: 85%;
        height: fit-content;
    }
    section #bestseller-section .grid-container {
        width: 100%;
        position: relative;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

}

@media (max-width: 700px) {
    section the-header {
        width: 80%;
        padding: 45px 0px 45px 0px;
        height: fit-content;
    }


    section the-header .title {
        font-size: 30px;
    }

    section the-header p {
        font-size: 18px;
    }

    section the-header p span {
        display: none;
    }

    section #bestseller-section .grid-container {
        width: 98%;
        position: relative;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    section button {
        align-self: center;
    }
}

@media (max-width: 500px) {
    * {
        overflow-x: hidden;    
    }

    section the-header .title {
        width: 90%;
    }
}

@media (max-width: 365px) {
    section the-header .title {
        font-size: 25px;
        width: 90%;
    }

    section the-header p {
        font-size: 13px;
    }
}
</style>