<template>
    <div class="hello">
      <h1 class="text-warning">You are <span class="text-warning">{{ msg }}</span></h1>
    </div>
  </template>
  
  <script>
  export default {
    name: 'NavbarPopup',
    props: {
      msg: String
    }
  }
  </script>
  
<style scoped>
h1 {
  font-size: 0.95rem;
  font-weight: 700;
}

h1 span {
  font-size: 1rem;
}
</style>
  