<template>
    <section>
        
        <header>
            <p>
                <span>-----------</span> 
                Bukan hanya produk, tetapi juga jasa
                <span>-----------</span> 
            </p>
            <div class="title">Lainnya</div>
        </header>

        <section id="otherproduct-section">
            <div class="grid-container">
                <router-link to="/product/detail/65308e027a7c885b3d9dacf3" id="linkLayanan">
                    <div class="item">
                        <div class="title">Fotokopi</div>
                        <div class="price">Rp. 1.000</div>
                    </div>
                </router-link>
                <router-link to="/product/detail/65308e257a7c885b3d9dacf9" id="linkLayanan">
                    <div class="item">
                        <div class="title">Print Berwarna</div>
                        <div class="price">Rp. 2.000</div>
                    </div>
                </router-link>
                <router-link to="/product/detail/65308e157a7c885b3d9dacf6" id="linkLayanan">
                    <div class="item">
                        <div class="title">Print Hitam Putih</div>
                        <div class="price">Rp. 1.000</div>
                    </div>
                </router-link>
            </div>
        </section>


        <header>
            <p>
                <span>-----------</span> 
                Cepat, aman, dan mudah
                <span>-----------</span> 
            </p>
            <div class="title">Mulai lakukan pembelian</div>
            <router-link to="/category"><button>Shop Now</button></router-link>
        </header>    
    </section>
</template>

<style scoped lang="scss">
section {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 52.1px 0px;
}

section button {
    background: #FFB100;
    border: 0px;
    border-radius: 5px;
    width: 150px;
    height: 55px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: center;
    position: relative;
    transition: 0.125s;
}

section button:hover {
    scale: 1.1;
}

section header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #000;
    padding: 50px 0px 50px 0px;
}

section header .title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

section header p {
   font-size: 22px;   
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 24.16px;
}

section #otherproduct-section {
    width: 90%;
    position: relative;
    background: #000;
    margin: 0px 80.04px 0px 80.04px;
}

section #otherproduct-section .grid-container {
    width: 100%; 
    background: #000;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 23.48px;
    align-items: baseline;
}

section #otherproduct-section .grid-container > div {
    background-attachment: fixed;
    border-radius: 5px;
}

section #otherproduct-section .grid-container > div:hover {
    scale: 1.000;
    filter: brightness(1.5);
    border: 1px solid #FFB100;
}

section #otherproduct-section .grid-container #linkLayanan {
    background: #151515 url('@/assets/img/layanan/fotocopy.png') repeat-x center; 
    background-size: contain;
    padding: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20.68px;
    height: 385px;
    border: 1px solid #fff;
    text-decoration: none;
}

section #otherproduct-section .grid-container .item .title {
    color: #FFF;
    background: #ffb3006a;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

section #otherproduct-section .grid-container .item .price {
    color: #FFB100;
    background: #2222225b;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 1340px) {
    section header {
        width: 85%;
    }
    section #otherproduct-section .grid-container {
        width: 100%;
        position: relative;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

}

@media (max-width: 700px) {
    section header {
        width: 80%;
        padding: 45px 0px 45px 0px;
    }

    section header .title {
        font-size: 30px;
    }

    section header p {
        font-size: 18px;
    }

    section header p span {
        display: none;
    }

    section #otherproduct-section .grid-container {
        width: 98%;
        position: relative;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    section #otherproduct-section .grid-container #linkLayanan {
        height: 100px !important;
    }

    section #otherproduct-section .grid-container .item .title {
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        margin-bottom: 0.2rem;
        font-size: 0.3rem;
        border-radius: 7%;
    }

    section #otherproduct-section .grid-container .item .price {
        padding: 0;
        font-size: 0.5rem;
    }

    section button {
        align-self: center;
    }
}

@media (max-width: 500px) {
    * {
        overflow-x: hidden;    
    }

    section header .title {
        width: 90%;
    }

    button {
        width: 100px !important;
        height: 40px !important;
        font-size: 1rem !important;
    }

    button:hover {
        scale: 1!important;
    }
}

@media (max-width: 365px) {
    section header .title {
        font-size: 25px;
        width: 90%;
    }

    section header p {
        font-size: 13px;
    }
}

@media (max-width: 260px) {

}

</style>