<template>
    <div class="section-detail">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item b--item">
                    <a @click="$router.push('/product?category=all')">Product</a>
                </li>
                <li class="breadcrumb-item b--item active" aria-current="page">
                    Detail
                </li>
            </ol>
        </nav>
        <!-- TODO: detailData?.id |  this.itemLenght | detailData?.hargaJual -->

        <div class="detail-container">
            <div class="img-detail">
                <img v-if="detailData?.foto" :src="'http://localhost:8085/' + detailData?.foto" width="300" height="300" />
                <img v-else src="@/assets/ecooper-logo.png" width="300" height="300" />
            </div>
            <div class="information-detail">
                <p class="title-product">{{ detailData?.namaProduct }}</p>
                <h6>{{ formatToRupiah(detailData?.hargaJual) }}/Pcs</h6>
                Total Bayar :
                <p class="price-product">
                    {{ formatToRupiah(detailData?.hargaJual * itemLength) }}
                </p>
                <p>Stok: {{ detailData?.stockProduct }}</p>
                Jumlah Beli :
                <div class="total-product-container">
                    <div class="minus-buy">
                        <button :disabled="itemLength == 1" type="button" @click="itemLength--" class="button--tk">
                            <i class="bi bi-dash-circle"></i>
                        </button>
                    </div>
                    <input type="number" v-model="itemLength" class="total-buy" id="itemLenght" name="itemLenght"
                        :max="detailData.stockProduct" @input="handleCheckStockInput" />
                    <div class="plus-buy">
                        <button :disabled="itemLength >= detailData.stockProduct" type="button" @click="itemLength++"
                            class="button--tk">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="checkout">
                    <button type="button" class="mt-2" :disabled="detailData.stockProduct <= 0" @click="handleCheckout">
                        Checkout
                    </button>

                    <div v-if="detailData.stockProduct <= 0" class="empty-stock-container">
                        <p class="empty-stock">HABIS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { checkout } from "@/services/pembayaran/pembayaran.service";
export default {
    props: {
        detailData: {
            type: Object,
            default: () => {
                return {};
            },
        },
    },
    data() {
        return {
            itemLength: 1,
        };
    },
    methods: {
        handleCheckout() {
            // Periksa apakah pengguna sudah login
            if (this.$cookies.get('token')) {
                // Lakukan proses checkout jika pengguna sudah login
                this.performCheckout();
            } else {
                // Jika pengguna belum login, navigasikan ke halaman login
                this.$router.push({ name: "pembeli-login" });
                window.alert(
                    "Anda belum login, silahkan Login terlebih dahulu untuk melakukan pembelian!"
                );
            }
        },
        performCheckout() {
            checkout(this.detailData.id, this.itemLength)
                .then((response) => {
                    if (response.status == "success") {
                        window.alert("Anda berhasil membeli!");
                        this.$emit('update:product')
                    } else {
                        window.alert('Sayang sekali.. Checkout barang gagal. Kenapa?, ' + JSON.stringify(response.response))
                    }
                })
        },
        formatToRupiah(number) {
            if (number) {
                // Mengubah angka menjadi format mata uang Rupiah
                const rupiah = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                return `RP ${rupiah}`;
            }
        },
        handleCheckStockInput() {
            if (this.itemLength >= this.detailData.stockProduct) {
                this.itemLength = this.detailData.stockProduct;
            }

            if (this.itemLength < 1) {
                this.itemLength = 1;
            }
        },
    },
};
</script>
<style scoped lang=scss>
.checkout button:hover {
    scale: 1.1;
}

.DetailProduct {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 50px;
    box-sizing: border-box;
    column-gap: 50px;
}

.section-detail {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 50px;
}

.detail-container {
    width: 100%;
    height: fit-content;
    display: grid;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    column-gap: 30px;
    margin-bottom: 50px;
}

.section-detail nav {
    padding-left: 25px;
}

.b--item a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 1.25s;
}

.b--item a:hover {
    text-decoration: underline;
}

.b--item.active {
    font-weight: 700;
    color: #ffb100;
    font-size: 20px;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #ffb100;
}

.img-detail {
    grid-column: 1;
    background-color: #212121;
    border-radius: 5px;
}

.img-detail img {
    padding-top: 40px;
    width: 250px;
    object-fit: contain;
}

.information-detail {
    grid-column: 2;
    text-align: left;
}

.title-product {
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-size: 52px;
}

.price-product {
    color: #ffb100;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-size: 24px;
}

.total-product-container {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.total-product-container img {
    width: 20px;
    height: 20px;
}

.plus-buy img {
    width: 20px;
    height: 20px;
}

.plus-buy button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minus-buy button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-product-container button {
    background: none;
    border: none;
    cursor: pointer;
}

.total-product-container .minus-buy {
    margin-right: 15px;
}

.total-product-container .total-buy {
    margin-right: 15px;
    width: 60px;
    text-align: center;
    background: none;
    border: none;
    color: #fff;
}

.total-product-container .plus-buy {
    margin-right: 15px;
}

.checkout {
    position: relative;
    width: fit-content;
}

.checkout button {
    background-color: #ffb100;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;

    transition: scale 0.25s;
}

.empty-stock-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 8px;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}
.empty-stock {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.total-buy[type="number"]::-webkit-inner-spin-button,
.total-buy[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.button--tk {
    color: #ffb100;
    transition: color 0.25s;
}

.button--tk:not(:disabled):hover {
    color: #eda600;
}

.button--tk:disabled {
    color: #555;
}

@media (max-width: 767px) {
    .detail-container {
        display: block;
    }

    .breadcrumb li {
        font-size: 1.1rem !important;
    }

    .breadcrumb a {
        font-size: 1.1rem !important;
    }

    .title-product {
        padding-top: 10px;
        font-size: 2rem !important;
    }

    .img-detail img {
        width: 70%;
        height: 70%;
        padding-bottom: 25px;
    }
}

@media (max-width: 500px) {
    .DetailProduct {
        padding: 1.2rem;
    }
}
</style>