<template>
    <section>
        <div v-if="isLoading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div v-else class="container text-center">
            <div v-if="product.length > 0" class="row">
                <div v-for="(data, index) in product" :key="index" class="card--product col-12 col-md-4 cursor-pointer"
                    @click="handleDetailProduct(data.id)">
                    <div class="img-item">
                        <div class="text-wrap">
                            <div class="product-photo-container">
                                <img v-if="data?.foto" :class="{ 'product-photo': true, 'empty': data?.stockProduct <= 0 }" :src="origin + data?.foto" width="150" height="150">
                                <img v-else src="@/assets/ecooper-logo.png" width="150" height="150">
                                
                                <div v-if="data?.stockProduct <= 0" class="empty-stock-container">
                                    <p class="empty-stock">HABIS</p>
                                </div>
                            </div>

                            <h1>{{ data.namaProduct }}</h1>
                            <h2>{{ formatToRupiah(data.hargaJual) }}</h2>
                        </div>
                    </div>

                </div>
            </div>
            <div v-else>
                <h3>DATA PRODUCT TIDAK DITEMUKAN</h3>
            </div>
        </div>
    </section>
</template>

<script>
import { base_url } from '@/config/base_url';

export default {
    props: {
        product: {
            type: Array,
            default: () => {
                return []
            }
        },
        isLoading: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            origin: base_url
        }
    },
    methods: {
        formatToRupiah(number) {
            // Mengubah angka menjadi format mata uang Rupiah
            const rupiah = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            return `RP ${rupiah}`;
        },
        handleDetailProduct(id) {
            console.log(id)
            this.$router.push({ name: 'products-detail', params: { id: id } })
        }
    }
}
</script>
<style scoped lang="scss">
.row {
    row-gap: 1rem;
}

.img-item {
    display: flex;
    direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #151515;
    width: 100%;
    height: 250px;
    transition: 0.125s;
}

.img-item:hover {
    background: #222;
}

.card--product {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card--product .text-wrap {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.card--product h1 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card--product h2 {
    color: #FFB100;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-photo-container {
    position: relative;
}
.product-photo {
    object-fit: contain;
}
.product-photo.empty {
    opacity: .25;
}

.empty-stock-container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.empty-stock {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    transform: rotate(-10deg);
}
</style>