<template>
    <section>
        <header>
            <div class="title">SENIN UPACARA</div>
            <p>Lengkapi atributmu sekarang, sebelum disuruh baris ke depan saat upacara!</p>
        </header>

        <section id="seragam-sekolah-section">
            <div class="grid-container" >
                <div class="item1">
                    <div class="title-wrap" @click="$router.push('/product/detail/655abf59512c8dad11c10ed4')">
                        <div class="title">Topi</div>
                        <div class="note">View Collection</div>
                        <img src="@/assets/img/perlengkapan-sekolah/topi.png" id="bg-position1">
                    </div>
                </div>

                <div class="item2"  @click="$router.push('/product/detail/655ac5df512c8dad11c10f32')">
                    <img id="bg-position2" src="@/assets/img/perlengkapan-sekolah/kaos-kaki.png">
                    <div class="title-wrap">
                        <div class="title"> Kaos Kaki</div>
                        <div class="note">View Collection</div>
                    </div>
                </div>

                <div class="item3">
                    <div class="title-wrap" @click="$router.push('/product/detail/655ac606512c8dad11c10f38')">
                        <div class="title">Dasi</div>
                        <div class="note">View Collection</div>
                        <img id="bg-position1" src="@/assets/img/perlengkapan-sekolah/dasi.png" alt="Kategori Dasi">
                    </div>
                </div>

                <div class="item4" @click="$router.push('/product/detail/655ac5f2512c8dad11c10f35')">
                    <img id="bg-position2" src="@/assets/img/perlengkapan-sekolah/ikat-pinggang.png">
                    <div class="title-wrap">
                        <div class="title">Ikat Pinggang</div>
                        <div class="note">View Collection</div>
                    </div>
                </div>

                <div class="item5" @click="$router.push('/product/detail/655ac61e512c8dad11c10f3b')">
                    <img id="bg-position2" src="@/assets/img/perlengkapan-sekolah/almamater.png">
                    <div class="title-wrap">
                        <div class="title">Almamater</div>
                        <div class="note">View Collection</div>
                    </div>
                </div>

                <!-- Disabled  No Active -->
                <div class="item6">6</div>
                <div class="item7">7</div>
                <div class="item8">8</div>
                <div class="item9">9</div>
                <div class="item10">10</div>
                <div class="item11">11</div>
                <div class="item12">12</div>
                <!-- End Disabled -->
            </div>
        </section>
        
        <router-link to="/product?category=655ab3c763524c177a24f57d"><button>See All</button></router-link>
    </section>
</template>

<script>
import { getProduct } from '@/services/product/product.service'
  
  export default {
    /* props: {
      product: {
        type: Array,
        default: () => {
          return []
        }
      },
    }, */
    data() {
        return {
            product: []
        }
    },
    methods: {
      getProduct() {
        getProduct().then((response) => {
          if (response) {
            this.product = response; 
          }
        });
      },
    },
    created() {
      this.getProduct(); 
    },
  }
</script>

<style scoped lang="scss">
#linkSeragam {
    text-decoration: none;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 52.1px 0px;
}

section button {
    background: #FFB100;
    border: 0px;
    border-radius: 5px;
    width: 150px;
    height: 55px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    transition: 0.125s;
}

section button:hover {
    scale: 1.1;
}

section header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    background: #000;
    height: 157px;
    padding: 50px 0px 50px 0px;
}

section header .title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

section header p {
    font-size: 22px;
}

section #seragam-sekolah-section {
    width: 90%;
    position: relative;
    background: #000;
    margin: 0px 80.04px 0px 80.04px;
    overflow-y: hidden;
    overflow-x: hidden;
}

section #seragam-sekolah-section .grid-container {
    width: 100%; /* WIDTH CATEGORY */
    background: #000;
    display: grid;
    grid-template-columns: 389.523px auto;
    grid-template-rows: auto 40px;
    gap: 29.44px;
}

section #seragam-sekolah-section .grid-container > div {
    background: #151515;
    background-attachment: fixed;
    border-radius: 5px;
    transition: 0.125s;
    cursor: pointer;
}

section #seragam-sekolah-section .grid-container > div:hover {
    background: #222;
}
section #seragam-sekolah-section .grid-container > div:hover #bg-position1, section #seragam-sekolah-section .grid-container > div:hover #bg-position2 {
    scale: 1.1;
}

section #seragam-sekolah-section .grid-container .item1 {
    grid-row: 1 / span 6;
}

section #seragam-sekolah-section .grid-container .item2 {
    grid-row: 1 / span 4;
}

section #seragam-sekolah-section .grid-container .item3 {
    grid-row: 7/ span 6;
}

section #seragam-sekolah-section .grid-container .item4 {
    grid-row: 5 / span 4;
}

section #seragam-sekolah-section .grid-container .item5 {
    grid-row: 9 / span 4;
}

section #seragam-sekolah-section .grid-container .item6, section #seragam-sekolah-section .grid-container .item7,
section #seragam-sekolah-section .grid-container .item8, section #seragam-sekolah-section .grid-container .item9,
section #seragam-sekolah-section .grid-container .item10, section #seragam-sekolah-section .grid-container .item11,
section #seragam-sekolah-section .grid-container .item12 {
    display: none;
}

/*  ----------------- ADDING CSS FOR ITEM IN CONTAINER ------------------ */
section #seragam-sekolah-section .grid-container #bg-position1 {
    align-self: flex-end;
    width: 65%;
    transition: 0.125s;
}

section #seragam-sekolah-section .grid-container .item1 .title-wrap,
section #seragam-sekolah-section .grid-container .item2 .title-wrap, 
section #seragam-sekolah-section .grid-container .item3 .title-wrap,
section #seragam-sekolah-section .grid-container .item4 .title-wrap,
section #seragam-sekolah-section .grid-container .item5 .title-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    padding: 25px;
}

section #seragam-sekolah-section .grid-container .item2 .title-wrap, 
section #seragam-sekolah-section .grid-container .item4 .title-wrap,
section #seragam-sekolah-section .grid-container .item5 .title-wrap {
    align-items: center;
}

section #seragam-sekolah-section .grid-container .item1 .title-wrap .title,
section #seragam-sekolah-section .grid-container .item2 .title-wrap .title, 
section #seragam-sekolah-section .grid-container .item3 .title-wrap .title,
section #seragam-sekolah-section .grid-container .item4 .title-wrap .title,
section #seragam-sekolah-section .grid-container .item5 .title-wrap .title {
   text-transform: uppercase;
   font-size: 35px;
   font-weight: 600;
}

section #seragam-sekolah-section .grid-container .item1 .title-wrap .note,
section #seragam-sekolah-section .grid-container .item2 .title-wrap .note, 
section #seragam-sekolah-section .grid-container .item3 .title-wrap .note,
section #seragam-sekolah-section .grid-container .item4 .title-wrap .note,
section #seragam-sekolah-section .grid-container .item5 .title-wrap .note {
   color: #FFB100;
   font-size: 20px;
   font-weight: 400;
}

/*  ----------------- ADDING CSS EXCEPTION FOR ITEM 2, 4, 5 IN CONTAINER ------------------ */
section #seragam-sekolah-section .grid-container .item2,
section #seragam-sekolah-section .grid-container .item4,
section #seragam-sekolah-section .grid-container .item5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; //spave Batween (Figma)
    gap: 1vw;
    padding: 25px;
}

section #seragam-sekolah-section .grid-container #bg-position2 {
    width: 244px;
    transition: 0.125s;
}

section #seragam-sekolah-section .grid-container  div > #bg-position2:hover {
    scale: 1.12;
}
/*  ----------------- FINISH ADDING CSS FOR ALL ITEM IN CONTAINER ------------------ */

@media (max-width: 1050px) {
    section #seragam-sekolah-section .grid-container #bg-position1 {
        width: 50%;
    }
    section #seragam-sekolah-section .grid-container #bg-position2 {
        width: 114px;
    }
}

@media (max-width: 900px) {
    section header {
        width: 85%;
        height: fit-content;
    }
    section #seragam-sekolah-section .grid-container {
        width: 100%;
        position: relative;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    section #seragam-sekolah-section .grid-container #bg-position1 {
        width: 90%;
    }
}

@media (max-width: 700px) {
    section header {
        width: 80%;
        padding: 45px 0px 45px 0px;
        height: fit-content;
    }

    section header .title {
        font-size: 30px;
    }

    section header p {
        font-size: 18px;
    }

    section #seragam-sekolah-section .grid-container {
        width: 98%;
        position: relative;
    }

    section #seragam-sekolah-section .grid-container #bg-position1 {
        width: 80%;
    }
    section #seragam-sekolah-section .grid-container #bg-position2 {
        width: 25%;
    }

section #seragam-sekolah-section .grid-container .item1 .title-wrap .note,
section #seragam-sekolah-section .grid-container .item2 .title-wrap .note, 
section #seragam-sekolah-section .grid-container .item3 .title-wrap .note,
section #seragam-sekolah-section .grid-container .item4 .title-wrap .note,
section #seragam-sekolah-section .grid-container .item5 .title-wrap .note {
   font-size: 0.7rem;
}

section #seragam-sekolah-section .grid-container .item1 .title-wrap .title,
section #seragam-sekolah-section .grid-container .item2 .title-wrap .title, 
section #seragam-sekolah-section .grid-container .item3 .title-wrap .title,
section #seragam-sekolah-section .grid-container .item4 .title-wrap .title,
section #seragam-sekolah-section .grid-container .item5 .title-wrap .title {
   font-size: 1rem;
}
section #seragam-sekolah-section .grid-container .item1,
section #seragam-sekolah-section .grid-container .item2, 
section #seragam-sekolah-section .grid-container .item3,
section #seragam-sekolah-section .grid-container .item4,
section #seragam-sekolah-section .grid-container .item5 {
   padding: 0rem 0.5rem 0rem 0.5rem;
}

section #seragam-sekolah-section .grid-container {
    gap: 14.44px;
}


    section button {
        align-self: center;
    }
}

@media (max-width: 500px) {
    * {
        overflow-x: hidden;    
    }

     button {
        width: 100px !important;
        height: 40px !important;
        font-size: 1rem !important;
    }

    button:hover {
        scale: 1!important;
    }

    section #seragam-sekolah-section .grid-container {
        gap: 9.44px;
    }


    .title-wrap {
        padding: 0.7rem !important;
    }

    section header .title {
        width: 90%;
    }
    section #seragam-sekolah-section .grid-container #bg-position1 {
        width: 60%;
    }
    section #seragam-sekolah-section .grid-container #bg-position2 {
        width: 35%;
    }

    section #seragam-sekolah-section .grid-container .item1 .title-wrap .note,
    section #seragam-sekolah-section .grid-container .item2 .title-wrap .note, 
    section #seragam-sekolah-section .grid-container .item3 .title-wrap .note,
    section #seragam-sekolah-section .grid-container .item4 .title-wrap .note,
    section #seragam-sekolah-section .grid-container .item5 .title-wrap .note {
        font-size: 0.4rem;
    }

    section #seragam-sekolah-section .grid-container .item1 .title-wrap .title,
    section #seragam-sekolah-section .grid-container .item2 .title-wrap .title, 
    section #seragam-sekolah-section .grid-container .item3 .title-wrap .title,
    section #seragam-sekolah-section .grid-container .item4 .title-wrap .title,
    section #seragam-sekolah-section .grid-container .item5 .title-wrap .title {
        font-size: 0.7rem;
    }
}

@media (max-width: 365px) {
    section header .title {
        font-size: 25px;
        width: 90%;
    }

    section header p {
        font-size: 13px;
    }

}

@media (max-width: 290px) {
    
    section #seragam-sekolah-section .grid-container .item1 .title-wrap .title,
    section #seragam-sekolah-section .grid-container .item2 .title-wrap .title, 
    section #seragam-sekolah-section .grid-container .item3 .title-wrap .title,
    section #seragam-sekolah-section .grid-container .item4 .title-wrap .title,
    section #seragam-sekolah-section .grid-container .item5 .title-wrap .title {
        font-size: 0.5rem;
    }
}

@media (max-width: 200px) {
    section img {
        display: none;
    }
}

</style>