<template>
    <header>
        <div class="showing">
            Showing the results
        </div>
        <div class="sort-by">
            <div class="input-sort">
                <div class="btn-group">
                    <!--
                    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by
                    </button>
                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Paling relevan</a></li>
                        <li><a class="dropdown-item" href="#">Produk terbaru</a></li>
                        <li><a class="dropdown-item" href="#">Produk terlama</a></li>
                        <li><a class="dropdown-item" href="#">Rating tertinggi</a></li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </header>
</template>

<style scoped lang="scss">
header {
    width: 100%;
    display: flex;
    justify-content: left; /* Draft -> space-between */
    align-items: center;
    padding: 41px 21px 41px 21px;
    /*
    border-bottom: 0.5px solid #7E7E7E;
    */
}

header .showing {
    color: #7E7E7E;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
</style>