<template>
    <aside>
        <ul class="nav nav-pills flex-column py-3" style="text-align: left;">
          <br> 
            <div class="input-search">
                <input type="text">
                <button class="button-search"><img src="@/assets/img/icon/search.png" alt="Search" id="search"></button>
            </div>  <br><br><br>
            <div class="button-mobile d-block d-md-none">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item accordion-item--mobile">
                  <h2 class="accordion-header">
                    <button class="accordion-button accordion-button--mobile" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     <h2>Category</h2>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse collapse--mobile show" data-bs-parent="#accordionExample">
                    <div class="accordion-body accordion--mobile-body">
                    <li class="nav-item">
                      <button @click="$emit('update:category', 'all')" class="btn button--category p-0" :class="{ 'button--category-active' : categoryActive == 'all' }">Semua</button>
                    </li>
                    <li v-for="(data, index) in sortedCategory" :key="index" class="nav-item">
                      <button @click="$emit('update:category', data.id)" class="btn button--category p-0" :class="{ 'button--category-active' : categoryActive == data.id }">{{ data.namaCategory }}</button>
                    </li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <li>
              <h2 class="d-none d-md-block">Category</h2>
              <hr>
            </li>
            <li class="nav-item">
              <button @click="$emit('update:category', 'all')" class="btn button--category p-0" :class="{ 'button--category-active' : categoryActive == 'all' }">Semua</button>
            </li>
            <li v-for="(data, index) in sortedCategory" :key="index" class="nav-item d-none d-md-block">
              <button @click="$emit('update:category', data.id)" class="btn button--category p-0" :class="{ 'button--category-active' : categoryActive == data.id }">{{ data.namaCategory }}</button>
            </li>
          </ul>
    </aside>
</template>

<script>

export default {
  props: {
    categoryActive: {
      type: String,
      default: 'all'
    },
    category: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  computed: {
    sortedCategory() {
      const sorted = [...this.category];
      const semuaKategoriIndex = sorted.findIndex(item => item.namaCategory === "Semua Kategori");

      if (semuaKategoriIndex !== -1) {
        const semuaKategori = sorted.splice(semuaKategoriIndex, 1)[0];
        sorted.unshift(semuaKategori);
      }

      return sorted;
    }
  },
}

</script>

<style scoped lang="scss">

.button--category {
    color: #fff;
}

.button--category:active {
  border: none;
}

.button--category:not(.button--category-active):hover {
    color: #FFB100;
}

.button--category-active {
  text-decoration: underline;
  font-weight: bold;
  color: #FFB100;
}

.nav-item {
  padding: 10px;
}

.btn.button--category.p-0 {
 text-align: left;
}

.input-search {
    display: flex;
    align-items: center;
    gap: 0;
    height: 45px;
    justify-content: flex-end;
}

.input-search input {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    height: 45px;
    width: 100%;
    border-radius: 0px;
    padding: 0px 5px 0px 5px;
}

.button-search {
    background: #FFB100;
    border: none;
    height: 45px;
    width: 40px;
}

#search {
    filter: brightness(0);
    width: 25px;
    padding: 3px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.accordion--mobile-body {
  background-color: #000;
  border: none;
}

.accordion-item--mobile {
  border: none;
}

.accordion-button--mobile {
  background-color: #000;
  color: white;
  border: none;
  box-shadow: none;
}
.accordion-button--mobile::after {
  filter: brightness(10);
  background-image: var(--bs-accordion-btn-icon);;
}
</style>