<template>
    <div class="contactUs ">
        <div class="getInTouch">
            <div class="title">
                <h1>Get In Touch!</h1>
            </div>
            <p class="p1">Hubungi kami langsung dari informasi kontak di bawah ini. </p>
            <div class="information">
                <div class="address">
                    <div class="address-icon-container">
                        <div class="address-icon">
                            <img src="@/assets/img/contact/location.svg" alt="">
                        </div>
                    </div>
                    <div class="address-content-container">
                        <div class="address-content">
                            <p class="title">Our Location</p>
                            <p class="p1">Jl. Soekarno Hatta No.KM. 10, Jatisari, Kec. Buahbatu, Kota Bandung, Jawa Barat
                                40286</p>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="contact-icon-container">
                        <div class="contact-icon">
                            <img src="@/assets/img/contact/phone.svg" alt="">
                        </div>
                    </div>
                    <div class="contact-content-container">
                        <div class="contact-content">
                            <p class="title">Contact</p>
                            <p class="p1"><a href="tel:+6222783326">(022) 783326</a></p>
                        </div>
                    </div>
                </div>
                <div class="email">
                    <div class="email-icon-container">
                        <div class="email-icon">
                            <img src="@/assets/img/contact/mail.svg" alt="">
                        </div>
                    </div>
                    <div class="email-content-container">
                        <div class="email-content">
                            <p class="title">Email</p>
                            <p class="p1"><a href="mailto:ecooper.id@gmail.com">ecooper.id@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <section>
            <h5>
                Our team:
            </h5>
            <div class="box">
                <div class="card" style="width: 18rem;">
                    <img src="@/assets/ecooper-logo.png" class="card-img-top bg-dark" alt="">
                    <div class="card-body bg-warning">
                        <p class="card-text card--text">Dinanda Khayra Hutama</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="@/assets/ecooper-logo.png" class="card-img-top bg-dark" alt="">
                    <div class="card-body bg-warning">
                        <p class="card-text card--text">Mohamad Firdiansyah</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="@/assets/ecooper-logo.png" class="card-img-top bg-dark" alt="">
                    <div class="card-body bg-warning">
                        <p class="card-text card--text">Ray Handi Hilal Tectonico Satrio</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="@/assets/ecooper-logo.png" class="card-img-top bg-dark" alt="">
                    <div class="card-body bg-warning">
                        <p class="card-text card--text">Riski Dimas Safariel</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="@/assets/ecooper-logo.png" class="card-img-top bg-dark" alt="">
                    <div class="card-body bg-warning">
                        <p class="card-text card--text">Virgiano Fadhil</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<style scoped lang=scss>
.contactUs {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding: 3rem;
    box-sizing: border-box;
    column-gap: 50px;
}

.getInTouch {
    width: 100%;
    text-align: left;
    grid-column: 1;
}

.getInTouch .title {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

.getInTouch .p1 {
    color: #d5d5dd;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
}

.information .address {
    display: flex;
    background-color: #212121;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.information .contact {
    display: flex;
    background-color: #212121;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.information .email {
    display: flex;
    background-color: #212121;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.address-icon-container {
    width: fit-content;
    height: fit-content;
    background-color: #ffb100;
    padding: 10px;
    margin-right: 10px;
}

.address-icon img {
    width: 50px
}

.address-content-container {
    width: 100%;
}

.contact-icon-container {
    width: fit-content;
    background-color: #ffb100;
    padding: 10px;
    margin-right: 10px;
}

.contact-icon img {
    width: 50px;
}

.contact-content-container {
    width: 100%;
}

.email-icon-container {
    width: fit-content;
    background-color: #ffb100;
    padding: 10px;
    margin-right: 10px;
}

.email-icon img {
    width: 50px;
}

.email-content-container {
    width: 100%;
}

.information .p1 {
    color: #fff;
    font-size: 15px;
}

.information .title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}

section {
    margin-top: 40px;
}
section .box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media(max-width:1000px) {
    section .box {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
}
@media(max-width: 800px) {
    .address-icon img {
        height: 4.5rem;
    }
}
@media(max-width: 667px) {
    section .box {
        grid-template-columns: auto;
    }


    .contactUs {
        padding: 2rem;
    }

    .card img {
        height: 80% !important;
    }
    .card-body {
       height: 10px !important;
    }

    .getInTouch h1 {
        font-size: 1.7rem !important;
    }

    .p1 {
        font-size: 0.7rem !important;
    }
    .address-icon img {
        height: 3.5rem;
    }
}
@media(max-width: 500px) {
    .address-icon img {
        height: 4.5rem;
    }
}
@media(max-width: 400px) {
    .address-icon img {
        height: 5.5rem;
    }
}
@media(max-width: 335px) {
    .address-icon img {
        height: 6.5rem;
    }
}
@media(max-width: 310px) {
    .address-icon img {
        height: 9.5rem;
    }
}


.card--text {
    font-weight: 700;
}

section h5 {
    font-size: 2rem;
    padding-bottom: 25px;
}</style>