<template>
    <section>
      <header>
        <div class="title">Pilihan Kategori</div>
        <p>Silahkan pilih kategori yang anda inginkan.</p>
      </header>
  
      <section id="kategori-section">
        <div class="grid-container">
          <div class="item-wrap" v-for="(data, index) in category" :key="index">
            <div class="item">
              <img v-if="data?.foto" :src="'http://localhost:8085/' +  data?.foto" width="200" height="200">
              <img v-else src="@/assets/ecooper-logo.png" width="200" height="200">

              <div class="title-wrap">
                <div class="title">
                    {{ data.namaCategory }}
                </div>
                <router-link :to="'/product?category=' + data.id">
                    <button class="note text-dark">View Collection</button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </section>

      <h1 v-if="category == []">Kategori kosong</h1>
  
      <router-link to="/product?category=all"><button>See All</button></router-link>
    </section>
  </template>
  
  <script>
  import { getCategory } from '@/services/category/category.service'
  
  export default {
    props: {
      product: {
        type: Array,
        default: () => {
          return []
        }
      },
      categoryActive: {
        type: String,
        default: 'all'
      },
      /* category: {
        type: Array,
        default: () => {
          return []
        }
      }, */
    },
    data() {
        return {
            category: []
        }
    },
    methods: {
      getCategory() {
        getCategory().then((response) => {
          if (response) {
            this.category = response; // Assign response to category
            console.log('kategoru', this.category)
          }
        });
      },
    },
    created() {
      this.getCategory(); // Call getCategory when the component is created
    },
  }
  </script>

<style scoped lang="scss">
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 52.1px 0px;
}

section button {
    background: #FFB100;
    border: 0px;
    border-radius: 5px;
    width: 150px;
    height: 55px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: center;
    position: relative;
    transition: 0.125s;
}

section button:hover {
    scale:1.1;
}

section .item button {
    transition: 0.25s;
}

section .item-wrap {
    cursor: pointer;
}
section .item-wrap:hover button {
    scale: 1.105;
    filter: hue-rotate(-40deg);
}

section .item img {
    transition: 0.125s;
}

section .item-wrap:hover img {
    scale: 1.17;
}

section header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    background: #000;
    height: fit-content;
    padding: 50px 0px 50px 0px;
}

section header .title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

section header p {
    font-size: 22px;
}

section #kategori-section {
    width: 100%;
    position: relative;
    background: #000;
    margin: 0px 80.04px 0px 80.04px;
}

section #kategori-section .grid-container {
    width: 95%; 
    background: #000;
    display: grid;
    grid-template-columns: 48% 48%; /* WIDTH CATEGORY */
    grid-row: auto auto;
    gap: 29.44px;
}

section #kategori-section .grid-container > div {
    background: #151515;
    background-attachment: fixed;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

section #kategori-section .grid-container > div:hover {
    transition: grid-template-columns 0.29s; /* Add a transition for a smooth effect */
}

/* ADDING CSS FOR ITEM-WRAP */
section #kategori-section .grid-container .item-wrap {
    display: grid;
    grid-template-columns: auto auto;
}


/*  ----------------- ADDING CSS FOR ITEM IN CONTAINER ------------------ */
section #kategori-section .grid-container .item-wrap .item .title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 25px;
}


section #kategori-section .grid-container .item-wrap .item .title-wrap .title {
   text-transform: uppercase;
   font-size: 28px;
   font-weight: 600;
   align-self: center;
}

section #kategori-section .grid-container .item-wrap .item .title-wrap .note {
   font-size: 18px;
   font-weight: bold;
   text-align: center;
}

section #kategori-section .grid-container .item-wrap .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; //spave Batween (Figma)
    gap: 1vw;
    padding: 25px;
}

section #kategori-section .grid-container #bg-position {
    width: 174px;
}

section #kategori-section .grid-container  div > #bg-position:hover {
    scale: 1.12;
}
/*  ----------------- FINISH ADDING CSS FOR ALL ITEM IN CONTAINER ------------------ */

.note ul {
    text-transform: uppercase;
}

.note ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

@media (max-width: 1050px) {
    section #kategori-section .grid-container #bg-position {
        width: 104px;
    }
    .note ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    section header {
        width: 85%;
    }

    section #kategori-section .grid-container .item-wrap .item .title-wrap .title {
        font-size: 20px;
    }

    section #kategori-section .grid-container .item-wrap .item .title-wrap .note {
        font-size: 16px;
    }

    section #kategori-section .grid-container #bg-position {
        width: 94px;
    }
}

@media (max-width: 700px) {
    section header {
        width: 80%;
        padding: 45px 0px 45px 0px;
    }

    header .title {
        font-size: 1rem !important;
        padding-left: 15%;
    }


    .title-wrap .title {
        font-size: 0.9rem !important;
    }

    .title-wrap button {
        font-size: 0.8rem !important;
        width: 120px !important;
    }

    section .item-wrap:hover button {
        scale: 1.01;
    }

    button {
        width: 100px !important;
        height: 40px !important;
        font-size: 1rem !important;
    }

    button:hover {
        scale: 1!important;
    }

    section header .title {
        font-size: 30px;
    }

    section header p {
        font-size: 18px;
    }

    section #kategori-section .grid-container {
        width: 90%;
        position: relative;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    section button {
        align-self: center;
    }

    section #kategori-section .grid-container #bg-position {
        width: 144px;
    }

    section #kategori-section .grid-container .item-wrap .item {
        grid-column: 1fr; 
        grid-row: auto;
    }
}

@media (max-width: 500px) {
    .title {
        text-align: left !important;
    }
    .note {
        height: 2.5rem !important;
        width: 8.5rem !important;
    }

    * {
        overflow-x: hidden;    
    }

    section header .title {
        width: 90%;
    }

    section #kategori-section .grid-container .item-wrap .item .title-wrap .title {
        font-size: 18px;
    }

    section #kategori-section .grid-container .item-wrap .item .title-wrap .note {
        font-size: 15px;
    }

    section #kategori-section .grid-container #bg-position {
        width: 34%;
    }

    .item img {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 365px) {
    section header .title {
        font-size: 25px;
        width: 90%;
    }

    section header p {
        font-size: 13px;
    }

    section #kategori-section .grid-container #bg-position {
        width: 105px;
    }
}

@media (max-width: 300px) {
    section #kategori-section .grid-container .item-wrap .item {
        flex-direction: column;
    }

    section #kategori-section .grid-container .item-wrap .item .title-wrap .title {
        font-size: 14px;
    }

    section #kategori-section .grid-container .item-wrap .item .title-wrap .note {
        font-size: 11px;
    }

    section #kategori-section .grid-container #bg-position {
        width: 95px;
    }
}

</style>
