<template>
    <footer>
        <div class="footer">
            <div class="navBar">
                <div class="logo">
                    <router-link to="/"><img src="@/assets/img/icon/ecooper-logo.png" alt="Instagram"></router-link>
                </div>
                <div class="address"> 
                    <div class="title"><h4>ADDRESS</h4></div>
                    <div class="p1">Jl. Soekarno Hatta No.KM. 10, Jatisari, Kec. Buahbatu, Kota Bandung, Jawa Barat 40286</div>
                </div>
                <div class="contact">
                    <div class="title"><h4>CONTACT</h4></div>
                    <a href="mailto:smk13bdg@gmail.com" class="p1">smk13bdg@gmail.com</a>
                    <a href="tel:+62227318960" class="p1">(022) 7318960</a>
                </div>
                <div class="developer">
                    <div class="title"><h4>DEVELOPER</h4></div>
                        <div href="" class="p1">Dinanda Khayra Hutama</div>
                        <div href="" class="p1">Mohammad Firdiansyah</div>
                        <div href="" class="p1">Ray Handi Hilal Tectonico Satrio</div>
                        <div href="" class="p1">Riski Dimas Safariel</div>
                        <div href="" class="p1">Virgiano Fadhil</div>
                </div>
            </div>
            <div class="socialMedia">
                <div class="instagram"><router-link to="/"><img src="@/assets/img/social-media/instagram.png" alt="Instagram"></router-link></div>
                <div class="youtube"><router-link to="/"><img src="@/assets/img/social-media/youtube.png" alt="YouTube"></router-link></div>
                <div class="facebook"><router-link to="/"><img src="@/assets/img/social-media/facebook.png" alt="Facebook"></router-link></div>
            </div>
            <hr>
            <div class="credit">
                <div class="copyright">
                    <div class="p1">Copyright © 2023 ECOOPER. All Right Reserved. | Created by ECOOPER Team</div>
                </div>
            </div>
        </div>
    </footer>
</template>

<style scoped lang="scss">
.footer{
    background-color: #181818;
    width: 100%;
    height: 100%;
}

.navBar{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 40px;
}

.logo img{
    width: 200px;
    height: 200px;
    margin: 0 40px 0 40px;
}

.address{
    max-width: 25%;
    margin: 0 40px 0 40px;
}

.contact{
    max-width: 25%;
    margin: 0 40px 0 40px;
}

.developer{
    max-width: 50%;
    margin: 0 50px 0 50px;
}

.p1{
    display: block;
    margin: 10px;
    color: #d5d5dd;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
}

.title{
    margin: 30px 10px;
    color: white;
    font-weight: 700;
    text-align: left;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px;
}

.socialMedia img {
    width: 100%;
    height: 17.5px;
}

.credit{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 40px;
}
@media (max-width: 940px) {
    .logo img{
        width: 180px;
        height: 180px;
        margin: 0 0px 0 0px;
    }

    .address{
        margin: 0 0px 0 0px;
    }

    .contact{
        margin: 0 0px 0 0px;
    }

    .developer{
        margin: 0 0px 0 0px;
    }
}

@media (max-width: 790px) {
    .logo img{
        width: 160px;
        height: 160px;
        margin: 0 0px 0 0px;
    }

    .footer .navBar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .address {
        width: 100%;
        margin: 0;
        max-width: 100%;
    }

    .navBar .p1{
        text-align: center;
        
    }

    .navBar .title{
        text-align: center;
        margin: 0;
    }


    .contact{
        width: 100%;
        margin: 0;
        max-width: 100%;
    }

    .developer{
        width: 100%;
        margin: 0;
        max-width: 100%;
    }

    .credit{
    padding: 5px;
}

@media (max-width: 250px) {
            .footer .socialMedia{
            flex-direction: column;
            align-items: center;
        }
    }
}
</style>
