<template>
  <header>
    <div class="header-wrap">
      <div class="title">
        <span>ECOOP</span>ER
      </div>
      <router-link to="/category"><button>Shop Now</button></router-link>
    </div>
  </header> 
</template>

<style scoped lang="scss">
  header {
    background: #252525 url('@/assets/img/banner/bannerHeader.png') no-repeat right;
    background-attachment: fixed;
    background-size: contain;

    color: #fff;
    
  }

  header .header-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    padding-top: 172px;
    padding-left: 168px;
    padding-bottom: 248px;
  }

  header .header-wrap .title {
    color: #FFF;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  header .header-wrap .title:hover {
    scale: 1.02;
  }

  header .header-wrap .title span {
    text-decoration: overline;
  }

  header .header-wrap button {
    background: #000;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    width: 150px;
    height: 55px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    right: -300px;
    transition: 0.125s;
  }

  header .header-wrap button:hover {
    scale: 1.1;
    color: #FFB100;
  }

  @media (max-width: 1220px) {
    header .header-wrap .title {
      font-size: 67px;
    }

    header .header-wrap button {
      width: 140px;
      height: 45px;
      font-size: 18px;
      right: -200px;
    }
  }

  @media (max-width: 700px) {
    header {
      padding: 0px 30px 0px 30px;
    }
    header .header-wrap {
      padding: 0px 0px 0px 15px;
      position: static;
      align-items: flex-start;
      justify-content: center;
      height: 376px;
    }
    header .header-wrap .title {
      font-size: 45px;
    }

    header .header-wrap button {
      width: 140px;
      height: 45px;
      font-size: 18px;
      right: -88px;
    }
  }

  @media (max-width: 280px) {
    header .header-wrap {
      padding: 0px 0px 0px 0px;
      height: 276px;
    }

    header .header-wrap .title {
      font-size: 34px;
    }

    header .header-wrap button {
      width: 100px;
      height: 35px;
      font-size: 13px;
      right: -20px;
    }
  }
</style>