<template>
  <nav>
    <div class="menu-atas">
      <nav id="social-media">
        <router-link to="/"><img src="@/assets/img/social-media/instagram.png" alt="Instagram"></router-link>
        <!--
        <router-link to="/"><img src="@/assets/img/social-media/twitter.png" alt="Twitter"></router-link>
        -->
        <router-link to="/"><img src="@/assets/img/social-media/youtube.png" alt="YouTube"></router-link>
        <router-link to="/"><img src="@/assets/img/social-media/facebook.png" alt="Facebook"></router-link>
      </nav>
      <nav></nav>
      <nav id="main-logo">
        <router-link to="/"><img src="@/assets/img/icon/ecooper-logo.png" alt="Instagram"></router-link>
      </nav>
      <nav></nav>
      <nav id="feature">

        <!--
        <router-link to="/"><img src="@/assets/img/feature/search.png" alt="Search"></router-link>
        <router-link to="/"><img src="@/assets/img/feature/keranjang.png" alt="Keranjang"></router-link>
        -->
        <div class="btn-group">
          <router-link to="/" class="btn btn-secondary profile-button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="@/assets/img/feature/profile.png" alt="Profil">
          </router-link>

          <ul class="dropdown-menu menu--profile-btn">
            <li>
              <NavbarPopup class="dropdown-item btn-profile-item disabled text-warning" :msg="name" />
            </li>
            <li>
              <hr class="dropdown-divider bg-light m-1">
            </li>

            <!--Belum Login -->
            <li><router-link class="dropdown-item btn-profile-item text-white" v-if="!isSignedIn"
                to="/pembeli-login">Login</router-link>
            </li>
            <!-- <li><router-link class="dropdown-item btn-profile-item text-white" v-if="!isSignedIn"
                to="/pembeli-register">Register</router-link></li> -->

            <!--Sudah Login -->
            <li><router-link class="dropdown-item btn-profile-item text-white" v-if="isSignedIn" to="/profile">My
                account</router-link></li>
            <li><button class="dropdown-item btn-profile-item text-danger" v-if="isSignedIn"
                @click="performSignout()">Logout</button></li>
          </ul>

        </div>
      </nav>
    </div>
    <nav id="menu-bawah">
      <router-link to="/">Home</router-link>
      <router-link to="/category">Category</router-link>
      <router-link to="/product?category=all" id="router-product"
        :class="{ 'router-link-exact-active': this.$route.name == 'products' }">Product</router-link>
      <router-link to="/contact">Contact</router-link>
    </nav>
  </nav>
</template>

<script>
import NavbarPopup from '@/components/NavbarPopup.vue'
import { signout } from '@/services/logout/logout.service'

export default {
  data() {
    return {
      msg: "Guest",
      isSignedIn: this.$cookies.get('token'),
      name: '',
    };
  },
  methods: {
    performSignout() {
      signout()
        .then((response) => {
          if (response.status == "success") {
            location.reload();
          } else {
            window.alert('Logout gagal. Kenapa?, ' + JSON.stringify(response.response));
          }
        })
    }
  },
  created() {
    this.$root.$on("updateMsg", (newMsg) => {
      this.msg = newMsg;
    })

    this.name = this.isSignedIn ? this.$cookies.get('name') : 'guest';
  },
  computed: {
    isProductActive() {
      var route = this.$route.name
      var routeProduct = ['product-all', 'product-perlengkapan-sekolah', 'product-buku-dan-alat-tulis', 'product-elektronik', 'product-layanan', 'product-karya-seni-dan-kerajinan', 'product-lainnya']

      return routeProduct.includes(route);
    }
  },
  components: {
    NavbarPopup,
  }
}
</script>

<style scoped lang="scss">
nav {
  width: 100%;
  background: #000;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;

    &.router-link-exact-active {
      color: #FFB100;
    }
  }

  a:hover {
    scale: 1.12;
  }
}

nav .menu-atas {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 119px;
  border-bottom: 1px solid #292929;
}

.profile-button {
  background: none;
  border: none;
}

.menu--profile-btn {
  background: #292929;
}

.btn-profile-item {
  font-weight: 400;
}

.btn-profile-item:hover {
  background: #ffffff09;
  color: #FFB100;
  scale: 1;
}

nav .menu-atas #social-media {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav .menu-atas #main-logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

nav .menu-atas #feature {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav .menu-atas #social-media img {
  width: 100%;
  height: 17.5px;
}

nav .menu-atas #main-logo img {
  width: 100%;
  height: 90px;
}

nav .menu-atas #feature img {
  width: 100%;
  height: 40px;
}

nav #menu-bawah {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 23px 0px 23px 0px;

  a {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  nav .menu-atas {
    justify-content: space-evenly;
    width: 100%;
    height: 119px;
    padding: 0px 0.1vw 0px 0.5vw;
    gap: 4px;
  }

  nav .menu-atas #social-media {
    gap: 13px;
  }

  nav .menu-atas #main-logo {
    gap: 13px;
  }

  nav .menu-atas #feature {
    gap: 10px;
  }

  nav .menu-atas #social-media img {
    height: 15px;
  }

  nav .menu-atas #main-logo img {
    height: 75px;
  }

  nav .menu-atas #feature img {
    height: 36px;
  }

  nav #menu-bawah {
    gap: 50px;


    a {
      font-size: 18px;
    }
  }
}

@media (max-width: 500px) {
  nav .menu-atas {
    gap: 2px;
  }

  nav .menu-atas #social-media {
    gap: 10px;
  }

  nav .menu-atas #main-logo {
    gap: 10px;
  }

  nav .menu-atas #feature {
    gap: 8px;
  }

  nav .menu-atas #social-media img {
    height: 13px;
  }

  nav .menu-atas #main-logo img {
    height: 65px;
  }

  nav .menu-atas #feature img {
    height: 30px;
  }

  nav #menu-bawah {
    gap: 35px;

    a {
      font-size: 15px;
    }
  }
}

@media (max-width: 390px) {
  nav .menu-atas {
    gap: 2px;
  }

  nav .menu-atas #social-media {
    gap: 5px;
  }

  nav .menu-atas #main-logo {
    gap: 5px;
  }

  nav .menu-atas #feature {
    gap: 5px;
  }

  nav .menu-atas #social-media img {
    height: 12px;
  }

  nav .menu-atas #main-logo img {
    height: 65px;
  }

  nav .menu-atas #feature img {
    height: 28px;
  }

  nav #menu-bawah {
    gap: 15px;

    a {
      font-size: 14px;
    }
  }
}

@media (max-width: 300px) {
  nav .menu-atas {
    gap: 1px;
  }

  nav .menu-atas #social-media {
    gap: 3px;
  }

  nav .menu-atas #main-logo {
    gap: 3px;
  }

  nav .menu-atas #feature {
    gap: 3px;
  }

  nav .menu-atas #social-media img {
    height: 12px;
  }

  nav .menu-atas #main-logo img {
    height: 55px;
  }

  nav .menu-atas #feature img {
    height: 24px;
  }

  nav #menu-bawah {
    gap: 10px;

    a {
      font-size: 13.5px;
    }
  }
}

@media (max-width: 259px) {
  nav .menu-atas {
    gap: 7px;
  }

  nav .menu-atas #social-media {
    gap: 7px;
  }

  nav .menu-atas #main-logo {
    gap: 7px;
  }

  nav .menu-atas #feature {
    gap: 7px;
  }

  nav .menu-atas #social-media img {
    height: 10px;
  }

  nav .menu-atas #main-logo img {
    height: 33px;
  }

  nav .menu-atas #feature img {
    height: 28px;
  }

  nav #menu-bawah {
    gap: 11px;

    a {
      font-size: 13px;
    }
  }
}</style>