<template>
  <div id="app">
    <the-navbar v-if="!nooNeedFN"></the-navbar>
    <router-view/>
    <the-footer v-if="!nooNeedFN"></the-footer>
  </div>
</template>

<script>
import TheNavbar from '@/components/TheNavbar.vue'
import TheFooter from '@/components/TheFooter.vue'

export default {
  name: 'App',
  components: {
    TheNavbar,
    TheFooter,
  },
  computed: {
    nooNeedFN() {
      if(this.$route.name == 'pembeli-login' || this.$route.name == 'pembeli-register') {
        return true
      } else {
        return false
      }
    }
  },
  mounted() {
    if(sessionStorage.username) {
      this.$store.state.nama = sessionStorage.username 
    } else if(this.$cookies.get("token")){
      this.getDataUser()
    }
  },
  methods: {
    getDataUser(){ 
      console.log("GET DATA USER")
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #1F1F1F;
border-radius: 11px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585859;
}

</style>
