<template>
    <section class="container-fluid py-5">
        <img src="@/assets/img/icon/ecooper-logo.png" alt="Instagram" width="80">
        <h1>Pembeli - login</h1>
        <form class="mx-auto p-2 text-start formLogin" @submit.prevent="login">
            <div class="mb-3">
                <label for="idPembeli" class="form-label">Id</label>
                <input type="text" v-model="id" class="form-control bg-dark text-light inputId" id="idPembeli" name="id">
            </div>
            <div class="mb-3">
                <label for="passwordLoginPembeli" class="form-label">Password</label>
                <input type="password" v-model="password" class="form-control bg-dark text-light" id="passwordLoginPembeli"
                    name="password">
            </div>
            <button type="button" @click="cancelLogin" class="btn btn-secondary">Batal Login</button>
            <button type="submit" class="btn btn-warning ms-2">Login</button>
            <p>
                Belum punya akun? <router-link to="/pembeli-register">Register</router-link>. <br>
                <span class="text-secondary">Copyright © 2023 ECOOPER. All Right Reserved. | Created by ECOOPER Team.
                </span>
            </p>
        </form>
    </section>
</template>
<script>
import { signin } from '@/services/login/login.service'
import { mapState, mapMutations } from 'vuex';

export default {
    computed: {
        ...mapState(['msg']),
    },
    data() {
        return {
            dataBuyer: [],
            isGetBuyer: false,
            id: null,
            password: null,
        }
    },
    methods: {
        ...mapMutations(['updateMsg']),
        login() {
            let formData = {
                id: this.id,
                password: this.password
            }

            signin(formData)
                .then((response) => {
                    if (response.status == "success") {
                        console.log(response)
                        this.$store.commit('updateNama', response.accountName);
                        this.$store.commit('updateMsg', 'Firdi');
                        this.$router.go(-1);
                        window.isUserLoggedIn = true;
                        window.alert('Login berhasil!')
                    } else if (response.status == "incorrect") {
                        window.alert('Id atau Password yang anda masukan salah!')
                    } else {
                        window.alert('Login gagal.. Kenapa?, ' + JSON.stringify(response.response))
                    }
                })
        },

        cancelLogin() {
            this.$router.push('/');
            window.alert('You are Guest!')
        },

    },
}
</script>
<style scoped lang="scss">
.formLogin {
    width: 50%;
}

.formLogin p {
    padding-top: 30px;
    text-align: center;
}

@media(max-width:500px) {
    .formLogin {
        width: 80%;
    }
}
</style>
  